<!DOCTYPE html>			
<html lang="en">

  <head>			
    <meta charset="UTF-8">			
    <meta name="viewport" content="width=device-width, initial-scale=1.0">			
    <title>SignUp | OurPortfolio</title>			

    <!-- FavIcon -->			
    <link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    
    
    <script src='https://cdn.tailwindcss.com'></script>

    <!-- JS -->			
    <script src="/js/main.js" defer></script>			
  </head>		

<body class="flex flex-col items-center justify-center h-[90vh]">			
  <header>			
    <nav>			
    </nav>			
  </header>			

  <main class=" border w-[330px] flex flex-col items-center py-[80px] gap-2 shadow-2xl rounded-2xl">			
    <h1 class=" font-semibold text-4xl mb-10">Login</h1>
   <form action="post" class="flex flex-col items-center gap-3">
    <label for="username">
      Username
      <br>
      <input type="text" name="username" class="border border-black p-1 rounded-md">
    </label>

    <label for="password">
      Password
      <br>
      <input type="password" name="password" class="border border-black p-1 rounded-md">
    </label>
    <button class="bg-black text-white px-5 py-2 rounded-full">
      Login
      <i class="ri-arrow-right-line text-white"></i>
    </button>
    <!-- <input class="" type="submit" value="Login "> -->
   </form>
  </main>			

  <footer>			

  </footer>			

</body>			
</html>			
