<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OurPortfolio | Home</title>

  <!-- FavIcon -->
  <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">

  <!-- CSS -->
  <script src='https://cdn.tailwindcss.com'></script>
  <link rel="stylesheet" href="css/style.css">

  <!-- JS -->
  <script src="js/main.js" defer></script>
</head>

<body class="bg-[#E7DBFF]">
  <header class="flex justify-between items-center p-5 px-10  border border-black border-b-xl">
    <div>
      <a href="#" class="text-3xl">
        <!-- OurPortfolio -->
        <!-- <i class="ri-typhoon-line text-5xl"></i> -->
        <i class="ri-blaze-line text-4xl"></i>
      </a>
    </div>
    <nav class="text-md gap-5 hidden md:flex">
      <a href="" class="hover:underline">About Us</a>
      <a href="" class="hover:underline">Profile</a>
      <a href="" class="hover:underline">Team</a>
      <a href="" class="hover:underline">Contact</a>
    </nav>
    <div>
      <button class="bg-black text-white px-4 py-2 rounded-full">SignUp</button>
    </div>
  </header>



  <main>

    <section class="hero_section px-10 flex-col items-center justify-evenly mt-10 sm:flex-row sm:flex">
      <section class="left_hero">
        <h1 class="text-[#020300] text-6xl font-medium my-10 max-w-[600px]">Let your portfolio define you</h1>
        <h4 class="text-xl my-5 line leading-6 w-[280px] ">Create a portfolio that wins your potential clients,
          employeer and world</h4>


        <section class="flex items-end">

          <div class="flex flex-col justify-center gap- items-center w-[250px] h-[180px] bg-black text-white p-2">
            <h2 class="font-medium text-4xl">99%</h2>
            <p class="text-center">Inventing the feature of online portfolio</p>

          </div>

          <div class="flex flex-col justify-center gap- items-center w-[250px] h-[220px] bg-[#C4B7E5] relative p-2 md:h-[250px]">
            <i class="ri-shining-2-fill absolute text-6xl right-[-30px] top-[-20px] animate-spin"></i>
            <h2 class="font-medium text-4xl">55%</h2>
            <p class="text-center">Made public share hasltlefree</p>
            <div class="flex items-center">
              <img class="mr-[-15px] w-10 h-10 rounded-full object-contain object-center"
                src="/assets/pexels-chloe-1043474.jpg" alt="">
              <img class="mr-[-15px] w-10 h-10 rounded-full object-contain object-center"
                src="/assets/pexels-pixabay-220453.jpg" alt="">
              <img class="mr-[-15px] w-10 h-10 rounded-full object-contain object-center"
                src="/assets/pexels-chloe-1043474.jpg" alt="">
              <img class="mr-[-15px] w-10 h-10 rounded-full object-contain object-center"
                src="/assets/pexels-pixabay-220453.jpg" alt="">
              <img class="mr-[5px] w-10 h-10 rounded-full object-contain object-center"
                src="/assets/pexels-chloe-1043474.jpg" alt="">
              <i class="ri-arrow-right-up-line text-3xl"></i>
            </div>
          </div>


        </section>


      </section>
      <section class="right_hero">
        <!-- <img src="/assets/undraw_about_me_re_82bv.svg" class="w-[300px] shadow-2xl mt-10" alt=""> -->

        <div class="bg-[#C4B7E5] w-[290px] h-[400px] rounded-t-full pt-10 flex flex-col items-center overflow-y-hidden">

          <h2 class="font-bold text-2xl">people</h2>
          <i class="ri-heart-fill text-6xl font-bold animate-pulse"></i>
          <img class="mt-[-130px]" src="/assets/charlie-green-3JmfENcL24M-unsplash-removebg-preview.png" alt="">

        </div>
      </section>

    </section>


    <section>


  </main>

  <footer>

  </footer>

</body>

</html>