<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio </title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.6.0/fonts/remixicon.css" rel="stylesheet">
</head>

<body class="bg-[#0a192f]">
    <header class="text-[#ccd6f6] flex justify-between px-8 py-7">
        <div>Logo</div>
        <nav class="flex gap-5 hidden md:flex">
            <a href="#">About</a>
            <a href="#">Experience</a>
            <a href="#">Work</a>
            <a href="#">Contact</a>
            <a href="#">
                <button>
                    Resume
                </button>
            </a>
        </nav>

        <div class="md:hidden">
            <i class="ri-menu-line "></i>
        </div>

    </header>

    <section class="flex flex-col items-center gap-10 mt-10 md:flex-row">

        <section class="hero_section px-[100px] text-xl">
            <p class="text-[#64ffda] text-3xl"> <span class="text-[#64ffda]"></span>Hi my name is </p>
            <h2 class="text-[#ccd6f6] text-7xl font-semibold">Kupendra</h2>
            <h2 class="text-[#8892b0] text-6xl font-semibold">I build things for the web.</h2>
            <p class="text-[#8892b0] py-4 my-3">I’m a software engineer specializing in building (and occasionally
                designing) <br> exceptional digital experiences. Currently, I’m focused on building accessible, <br>
                human-centered products at Upstatement.</p>
            <button class="text-[#64ffda] p-5 border border-[#64ffda] rounded-full">Checkout my Portfolio</button>
        </section>

        <section>
            <img src="undraw_portfolio_website_re_jsdd.svg" class="w-[400px]" alt="">
        </section>
    </section>
</body>

</html>