<!DOCTYPE html>
<html lang="en">

<head>
  <title>@<%= username %></title>
  <link rel="icon" href="https://raw.githubusercontent.com/earthtoyash/earthtoyash.github.io/main/me.jpg">
  <meta charset="UTF-8">
  <meta name="home" content="Just some stuff!">
  <link rel="stylesheet" href="/css/p1.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <script src="/js/main.js"></script>

  <!-- fontawesome kit -->
  <script src="https://kit.fontawesome.com/12855d893b.js" crossorigin="anonymous"></script>
  <div class="avatar">
    <background></background>
    <title>@earthtoyash</title>
    <link rel="icon"
      href="https://raw.githubusercontent.com/earthtoyash/earthtoyash.github.io/main/index_files/Anonymous.png">
  </div>
</head>

<body>
  <div class="intro">
    <div class="text-intro">
      <h1>Hi <%= username %>! </h1>
      <p>@<%= username %>
      </p>
      <h2>Status : Online</h2>
    </div>

    <% if (profilePic) { %>
      // Do something with more than 1 recipe
      <h1 style="color: red;">imageExits</h1>
    <% } %>
        <!-- <% if (profilePic) {%>
      <div class="image-intro"> <img src="jay.png" alt="It's Me!">
    <% }%> -->
  </div>
  </div>
  <section>
    <p>I am <%= username %>, I love Programing, I’m a student living in Rajkot, gujrat. I am a fan of design, technology,
      and programming. I’m also interested in web development. You can read my blog with a click on the button above.
    </p>
    <p> You can check out my social media & email from below. Let’s learn cyber together!</p>
  </section>

  <div class="centre">
    <button class="btn"><a href="https://twitter.com/JayRamoliya133" target="_blank"><i class="fa fa-twitter fa-1x"></i>
        TWITTER</a></button>

    <button class="btn"><a href="https://www.instagram.com/jay_ramoliya133/" target="_blank"><i
          class="fa fa-instagram fa-1x"></i>INSTAGRAM</a></button>

    <button class="btn"><a href="https://www.linkedin.com/in/jay-ramoliya-269a59244/" target="_blank"><i
          class="fa fa-linkedin fa-1x"></i>LinkedIn
      </a></button>

    <button class="btn"><a href="https://github.com/JayRamoliya" target="_blank"><i
          class="fa fa-github fa-1x"></i>GITHUB</a></button>

    <button class="btn"><a href="https://tryhackme.com/p/jayramoliya" target="_blank">TryHackMe</a></button>


  </div>

</body>

</html>