<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-cover bg-no-repeat" style="background-image: url(../static/img/f.jpg)" >
<header class="text-[#FEFCFF] flex justify-between px-9 py-9">
  <div>Logo</div>
  <nav class="flex gap-9 hidden md:flex ">
    <a class="hover:text-[#edc6a9] " href="">HOME</a>
    <a class="hover:text-[#edc6a9]  " href="" >ABOUT</a>
    <a class="hover:text-[#edc6a9]  " href="" >SERVICES</a>
    <a class="hover:text-[#edc6a9]  " href="" >WORK</a>
    <a class="hover:text-[#edc6a9]  " href="" >CONTACT</a>
  </nav>
</header>
<main class="flex flex-col justify-center items-center ">
  <div class="h-64 w-64 bg-white rounded-full  mt-16">
    <img src="../static/img/images.jpeg" style="height: 100%; border-radius: 100%; border-width: 5px;" alt="">
  </div>
  <h2 class="text-[white] text-6xl py-5">Hi,I'm Shaila Bano</h2>
  <p class="text-[white] font-bold">I'M UI/UX DESIGNER</p>
</main>
 
</body>
</html>